html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Lato, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: beige;
}

nav.nav-bar {
  border: 1px solid #000;
  padding: 8px;
}

.links-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

.links-list li a {
  text-decoration: none;
  color: inherit;
}

.nav.add {
 border-left: solid 1px #000;
 border-right: solid 1px #000;
 padding-left: 10px;
 padding-right: 10px;
}

.nav:hover {
  color: blue;
}

.mainTitle {
  padding: 5%
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

main>* {
  width: 90%;
}

#book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  gap: 20px;
}

#book-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  border: 1px solid #000;
}


#book-list>* {
  width: 100%;
}

#book-list li:nth-child(odd) {
  background-color: rgb(207, 207, 207);
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: none;
  background-color: rgb(255, 255, 255);
  padding: 5px;
}


.book-info {
  display: flex;
  flex-direction: row;
}

.remove-btn {
  /* margin-right: 10px; */
}

#add-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 60%;
}

form input {
  width: 100%;
}

#add {
  width: max-content;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 40px;
}

#add-book.inactive {
  display: none;
}

#contact.inactive {
  display: none;
}

.footer {
  border: 1px solid #000;
  padding: 8px;
}
